{% extends 'flashcards/base.html' %}

{% block content %}

{% load static %}

<div class="container">

    <div class="text-center">

        <h1 class="display-3 mt-3">いらっしゃいませ!</h1>

        <hr>

        <div class="row">

            <div class="col">

                <div class="card text-black bg-light mb-3" style="width: 100%;">
                    <div class="card-header h5 text-center">復習</div>
                    <div class="card-body">
                        <img src="{% static 'flashcards/images/review.png' %}" class="img-fluid">
                        <hr>
                        <div class="row align-items-center">
                            <div class="col-10">
                                <a href="{% url 'review' %}" class="btn btn-outline-dark" style="width: 100%;">スタート</a>
                            </div>
                            <div class="col-2">
                                <h6>残り: {{ num_to_review }}</h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col">

                <div class="card text-black bg-light mb-3" style="width: 100%;">
                    <div class="card-header h5 text-center">学ぶ</div>
                    <div class="card-body">
                        <img src="{% static 'flashcards/images/learn.png' %}" class="img-fluid">
                        <hr>
                        <div class="row align-items-center">
                            <div class="col-10">
                                <a href="{% url 'story' %}" class="btn btn-outline-dark" style="width: 100%;">スタート</a>
                            </div>
                            <div class="col-2">
                                <h6>残り: {{ num_to_learn }}</h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>


{% endblock %}
