{% extends 'flashcards/base.html' %}

{% block content %}

<div class="container">

    <div class="text-center">
    <br>
    <h2 class="display-2">Welcome to Learn Japanese Names</h2>
    <hr>
    <small class="text-muted">
        <i>
        <p class="lead">Japanese names can be difficult to get your head around.</p>
        <p class="lead">The kanji are not always very intuitive, and it can take some time to put them into the context of an actual name.</p>
        <p class="lead">The best way to learn is by doing, which is why we've created this site: to give you an easy and engaging way of memorising kanji used in names.</p>
        </i>
    </small>

    </div>

</div>

{% endblock %}
