{% extends 'flashcards/base.html' %}

{% block content %}

<div class="container">

{% if flashcard %}

  <div class="vstack gap-3 justify-content-center align-items-center">

      <div class="card text-black bg-light mt-3" style="width: 50%;">
        <div class="card-header display-1 text-center">{{ flashcard.kanji }}</div>
        <div class="card-body">
          <form method="POST" action="{% url 'learn' %}" autocomplete="off" novalidate>
            {% csrf_token %}
            <div class="row">
              <div class="col-10">
                {{ form.user_response }}
              </div>
              <div class="col-2">
                <button type="submit" class="btn btn-outline-dark" style="width: 100%;">入力</button>
              </div>
          </div>
          </form>
        </div>
      </div>

    {% if message %}
      <p class="text-center">
        {{ message }}
      </p>
    {% endif %}

  </div>



{% else %}
  <div class="d-flex justify-content-center align-items-center">
    <div class="card bg-light mt-3 justify-centre" style="width: 50%;">
      <div class="card-header display-1">何もない！</div>
      <div class="card-body">
        <h5 class="card-title">Nothing to learn</h5>
        <p class="card-text">You don't have any cards to learn at the moment. How about reviewing more in the meantime?</p>
      </div>
    </div>
  </div>
{% endif %}

</div>

{% endblock %}
